<header class='flex shadow-md py-4 px-4 bg-white font-[sans-serif] min-h-[70px]'>
  <div class='flex flex-wrap items-center justify-between gap-5 w-full'>
    <a routerLink="/"><img src="/assets/logo-webyn.webp" alt="webyn logo" class="w-36" />
    </a>

    <div class="flex justify-center">
      <nav>
        <ul
          class='flex gap-x-5 max-lg:space-y-3 max-lg:fixed bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto'>
          <li class='py-3 px-3'>
            <a routerLink="/"
               class='hover:text-[#007bff] text-gray-500 block font-semibold text-[15px]'>Home</a>
          </li>
          <li class='py-3 px-3'><a routerLink="/traffic"
              class='hover:text-[#007bff] text-gray-500 block font-semibold text-[15px]'>Traffic Dashboard</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
